body {
  background-color: #e9e9e9;
}

/*==================================_NAV__NO__RESPONSIVE_==================================*/

@media only screen and (min-width: 630px) {
  .navegador {
    background-color: rgba(33, 37, 41, 0.9);
    height: 50px;
    border-bottom: 3px solid #f09100;
    z-index: 900;
  }

  .navegador__menu_1__lista {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
  }

  .navegador__menu_1__lista__link {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .navegador__menu_1__lista__link:hover {
    color: #fff;
  }

  .navegador__menu_2__lista__link {
    text-decoration: none;
    color: #f09100;
    font-family: sans-serif;
    letter-spacing: 2px;
    padding-right: 10px;
  }

  .lineaDeAbajo {
    position: relative;
    overflow: hidden;
  }

  .lineaDeAbajo::before {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: -100%;
    background-color: #f09100;
    transition: left 0.2s;
  }

  .lineaDeAbajo:hover::before {
    left: 0px;
  }

  #img_user {
    background-color: #f09100;
    height: 75%;
  }

  #img_carrito {
    height: 100%;
  }

  .navegador__menu_2 {
    height: 100%;
  }

  .navegador__contenedor {
    display: none;
  }
}

/*====================================_NAV__RESPONSIVE_====================================*/

@media only screen and (max-width: 630px) {
  .navegador {
    background-color: rgba(33, 37, 41, 0.9);
    height: 50px;
    border-bottom: 3px solid #f09100;
    /*overflow: hidden;*/
    transition: height 0.2s;
    z-index: 900;
  }

  .navegador__menu_1 img {
    display: none;
  }

  .navegador__contenedor {
    position: absolute;
    top: 0px;
    left: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navegador__contenedor__menu {
    height: 5px;
    width: 30px;
    background-color: #fff;
    position: relative;
    top: 0px;
    border-radius: 5px;
  }

  .navegador__contenedor__menu::after {
    content: "";
    position: absolute;
    top: -10px;
    left: 0px;
    height: 5px;
    width: 30px;
    background-color: #fff;
    border-radius: 5px;
  }

  .navegador__contenedor__menu::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0px;
    height: 5px;
    width: 30px;
    background-color: #fff;
    border-radius: 5px;
  }

  .navegador__menu_1__lista {
    list-style: none;
    display: none;
    position: absolute;
    left: 25px;
    top: 50px;
  }

  .navegador__menu_1__lista__elemento {
    margin-top: 20px;
  }

  .navegador__menu_1__lista__link {
    text-decoration: none;
    color: #fff;
    font-family: sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 5px;
  }

  .navegador__menu_1__lista__link:hover {
    color: #fff;
  }

  .lineaDeAbajo {
    position: relative;
    overflow: hidden;
  }

  .lineaDeAbajo::before {
    content: "";
    height: 3px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: -100%;
    background-color: #f09100;
    transition: left 0.2s;
  }

  .lineaDeAbajo:hover::before {
    left: 0px;
  }

  .navegador__menu_2__lista__link {
    text-decoration: none;
    color: #f09100;
    font-family: sans-serif;
    letter-spacing: 2px;
    padding-right: 10px;
  }

  .navegador__menu_2 {
    position: absolute;
    height: 50px;
    top: -2px;
    right: -30px;
  }

  #img_carrito {
    height: 50px;
  }

  #img_user {
    background-color: #f09100;
    height: 35px;
  }
}

/*=======================================_FIN___NAV_=======================================*/

/*=========================================_INDEX_=========================================*/
.mucho_mas {
  animation: rebotar 0.5s infinite cubic-bezier(.5, 0.05, 1, .5) alternate;
}

@keyframes rebotar {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(10px);
  }
}
/*-aca empieza lo del banner-*/
.jumbotron {
  position: relative;
  filter: drop-shadow(0px 0px 5px #fff);
}

.jumbotron__img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.jumbotron__base {
  width: 100%;
  z-index: 1;
}

.jumbotron__columnas_2 {
  z-index: 2;
  animation: flotar_type_2 infinite ease-in-out reverse 3s;
}

.jumbotron__tresPuntos_2 {
  z-index: 3;
  animation: flotar_type_1 infinite ease-in-out reverse 5s;
}

.jumbotron__persona {
  z-index: 4;
  animation: flotar_type_1 infinite ease-in-out 5s;
}

.jumbotron__columnas_1 {
  z-index: 5;
  animation: flotar_type_2 infinite ease-in-out 2s;
}

.jumbotron__tresPuntos_1 {
  z-index: 6;
  animation: flotar_type_1 infinite ease-in-out reverse 3s;
}

.jumbotron__CirculoB_1 {
  z-index: 7;
  animation: flotar_type_3 infinite ease-in-out 4s;
}

.jumbotron__CirculoB_2 {
  z-index: 8;
  animation: flotar_type_3 infinite ease-in-out reverse 4s;
}

.jumbotron__cuadrado {
  z-index: 9;
  animation: flotar_type_3 infinite ease-in-out 4s;
}

.jumbotron__linea {
  z-index: 10;
  animation: flotar_type_3 infinite ease-in-out 4s;
}

.jumbotron__triangulo {
  z-index: 11;
  animation: flotar_type_3 infinite ease-in-out reverse 4s;
}

.jumbotron__Circulo {
  z-index: 12;
  animation: flotar_type_3 infinite ease-in-out 4s;
}

@keyframes flotar_type_1 {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(5px, 0px);
  }

  50% {
    transform: translate(0px, 5px);
  }

  75% {
    transform: translate(5px, 5px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes flotar_type_2 {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, 5px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

@keyframes flotar_type_3 {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(5px, -5px);
  }

  50% {
    transform: translate(-3px, 3px);
  }

  75% {
    transform: translate(4px, 4px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.img-fit {
  max-height: 100%;
}

.alert {
  position: fixed;
  top: 80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

#data {
  color: #000;

}

.btn-warning {
  background-color: #f09100;
  border-color: #f09100;
  justify-content: center;
  align-items: center;
  display: flex;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top: 50%;
  left: 50%;
}

.cursor-active {
  cursor: pointer;
}

.left {
  float: left;
  padding: 4px;
  background-color: rgba(255, 255, 255, 0.5);
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

#spinner-wrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1021;
  display: none;
}

main {
  min-height: calc(100vh - 210px);
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}

/*====================================_FOOTER__GENERAL_====================================*/
.link__footer {
  color: #f09100;
}

.link__footer:hover {
  color: #a36200;
}

/*==================================_FIN__FOOTER_GENERAL_==================================*/

/*====================================_DARK/LIGHT__MODE_====================================*/
.dark-light {
  background-color: #333333 !important;
  color: white !important;
}

/*=================================_FIN___DARK/LIGHT__MODE_=================================*/

/*==========================================_CART_==========================================*/
.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

input[type="radio"].form-check-input:checked {
  background-color: #f09100;
  border-color: #3f4850;
}

#guardarObservaciones {
  background-color: #fff;
  color: #3f4850;
  font-family: sans-serif;
  outline: none;
  border: 2px solid #3f4850;
  margin-top: 10px;
  cursor: pointer;
  margin-right: 10px;
}

#botonesObservaciones {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#cancelarObservaciones {
  cursor: pointer;
  margin-top: 28px;
}

#cancelarObservaciones a {
  color: #3f4850;
}

#buttonform {
  background-color: #f09100;
  color: #3f4850;
  font-family: sans-serif;
  font-weight: bold;
  outline: none;
  border: 2px solid #3f4850;
  margin-top: 10px;
}

#contenedorCompra {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/*=======================================_FIN___CART_=======================================*/